/* :root {
  --primary-white: fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
} */

body {
  font-family: Roboto, san-serif;
}

/************************** NAVBAR **************************/

/*********MENU LINKS******/

nav a.nav-link {
  /* font-weight: 500; */
  font-size: 0.8rem;
  letter-spacing: 0.037rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: white;
  border-top: 0.1875;
  /* color: var(--primary-white) !important; */
  /* border-top: 0.1875rem solid var(--primary-dark) !important; */
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 1.5rem !important;
  height: 6rem !important;
  /* display: none; */
}
.navbar {
  background-color: #94bcc0 !important;
  font-size: 1.5rem;
  font-family: Merriweather, sans-serif;
}
.colorLetter {
  color: gold;
  font-size: 2.5rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid white !important;
  border-top: 0.1875rem solid rgb(231, 186, 102) !important;
  /* border-top: 0.1875rem solid var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-orange) !important; */
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid rgb(231, 186, 102) !important;
  /* border-top: 0.1875rem solid var(--primary-orange) !important; */
}
